<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="csLamosaSCPP" connectionString="Data Source=192.168.20.5;Initial Catalog=lamosa;User ID=sa;Password=appl0608" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="LAMOSA.SCPP.Server.ServiceHH.Service1Behavior" name="LAMOSA.SCPP.Server.ServiceHH.SCPP_HH">
        <endpoint address="/SCPPHHService.svc" binding="basicHttpBinding"
          name="ServiceManagerHH" contract="LAMOSA.SCPP.Server.ServiceHH.ISCPP_HH" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.20.188/scppservicehh" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>

      <serviceBehaviors>
        <behavior name="LAMOSA.SCPP.Server.ServiceHH.Service1Behavior">
          <serviceTimeouts transactionTimeout="10:01:00"/>

          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />

          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>
