<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="csLamosaSCPP" connectionString="Data Source=192.168.20.5;Initial Catalog=lamosa;User ID=sa;Password=appl0608" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>

    <services>
      <service behaviorConfiguration="LAMOSA.SCPP.Server.ServiceHH.Service1Behavior"
        name="LAMOSA.SCPP.Server.ServiceHH.SCPP_HH">

        <endpoint address="" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="Binding1" 
                  contract="LAMOSA.SCPP.Server.ServiceHH.ISCPP_HH" />
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

      </service>
    </services>

    <behaviors>

      <serviceBehaviors>
        <behavior name="LAMOSA.SCPP.Server.ServiceHH.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"  />

          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <basicHttpBinding>
        <!--WeakWildcard-->
        <binding name="Binding1"
               hostNameComparisonMode="StrongWildcard"
               receiveTimeout="00:30:00"
               sendTimeout="00:30:00"
               openTimeout="00:30:00"
               closeTimeout="00:30:00"
               maxReceivedMessageSize="2147483647"
               maxBufferSize="2147483647"
               maxBufferPoolSize="2147483647"
               transferMode="Buffered"
               messageEncoding="Text"
               textEncoding="utf-8"
               bypassProxyOnLocal="false"
               useDefaultWebProxy="true" >
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>
