.fondoLogin
{
	background-image: url('../Imagenes/bk.gif');
	background-repeat: repeat;
}
.textos_Login
{
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: left;
}
.TxtLogin
{
	border-style: solid;
	border-width: 1px;
	height: 17px;
	width: 150px;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	color: #000000;
	text-align: left;
}
.CmbLogin
{
	border-style: solid;
	border-width: 1px;
	height: 20px;
	width: 154px;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	color: #000000;
	text-align: left;
}

.Cmb
{
	border-style: solid;
	border-width: 1px;
	height: 20px;
	width: 154px;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	color: #000000;
	text-align: left;
}
.lblTitulo1
{
	color: #B88A00;
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	background: #eee;
}

.textos_01
{
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	color: #000000;
	height: 26px;
	text-align: left;
}

.textos
{
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	color: #000000;
	height: 13px;
	width: 65px;
	text-align: left;
}

.textost
{
	height: 16px;
	width: 150px;
	text-align: left;
}

.textosd
{
	height: 22px;
	width: 156px;
	text-align: left;
}

.Boton_01
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: White;
	background-color: #666666;
	height: 25px;
	text-align: left;
	vertical-align: middle;
	width: 92px;
	margin-left: 20px;
}

.mayus
{
	text-transform: uppercase;
}

.TextosMayusculas
{
	text-transform: capitalize;
}

.hidden
{
	display: none;
}
.AreaBox_02
{
	background-color: #CCCCCC;
	height: 20px;
	font-family: Arial;
	font-size: 12px;
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
}
.imagen_01
{
	height: 150px;
	width: 100px;
}

/*Estilo para Listas*/
ul.sliding
{
	list-style: none;
	font-size: .75em;
	margin: 30px 0;
	padding: 0;
	font-family: "Lucida Grande" , "Lucida Sans Unicode" , "bitstream vera sans" , "trebuchet ms" ,verdana,sans-serif;
}
ul.sliding li.sliding-element h3, ul.sliding li.sliding-element a
{
	display: block;
	width: 340px;
	padding: 5px 18px;
	margin: 0;
	margin-bottom: 5px;
}
ul.sliding li.sliding-element h3
{
	color: #fff;
	background: #333 url(../Imagenes/heading_bg.jpg) repeat-y;
	font-weight: normal;
}
ul.sliding li.sliding-element a
{
	color: #999;
	background: #222 url(../Imagenes/tab_bg.jpg) repeat-y;
	border: 1px solid #1a1a1a;
	text-decoration: none;
	outline: 0;
}
ul.sliding li.sliding-element a:focus
{
	-moz-outline-style: none;
}
ul.sliding li.sliding-element a:hover
{
	color: #ffff66;
	background: #333 url(../Imagenes/heading_bg.jpg) repeat-y;
}
ul.sliding li.sliding-element a.selected
{
	font-size: 12px;
	color: black;
	background: url("../Imagenes/bgSelected.png") repeat-x scroll 0 0 #C2D0DA;
}
/*Fin estilos Listas*/
.tblList
{
	width: 100%;
}
.tblList TD
{
	width: 25%;
}
.right
{
	text-align: right;
}
a.tooltip
{
	position: relative; /* es la posición normal */
	text-decoration: none !important; /* forzar sin subrayado */
	color: #0080C0 !important; /* forzar color del texto */
	font-weight: bold !important; /* forzar negritas */
}

a.tooltip:hover
{
	z-index: 999; /* va a estar por encima de todo */
	background-color: #000000; /* DEBE haber un color de fondo */
}

a.tooltip span
{
	display: none; /* el elemento va a estar oculto */
}

a.tooltip:hover span
{
	display: block; /* se fuerza a mostrar el bloque */
	position: absolute; /* se fuerza a que se ubique en un lugar de la pantalla */
	top: 2em;
	left: 2em; /* donde va a estar */
	width: 250px; /* el ancho por defecto que va a tener */
	padding: 5px; /* la separación entre el contenido y los bordes */
	background-color: #0080C0; /* el color de fondo por defecto */
	color: #FFFFFF; /* el color de los textos por defecto */
}
